<div class="card mx-2" style="width: 12rem;">
  <img src="{{img}}.png" class="card-img-top" alt="{{img}}">
  <div class="card-body">
    <h5 class="card-title text-center"> {{img}} </h5>
    {{!-- <a href="#" class="btn btn-primary">Go somewhere</a> --}}
  </div>
</div>